<!-- app/views/tasks/_tasks_list.html.erb -->

<% tasks.each do |task| %>
  <% if task.category == Task::CATEGORIES[0] %>  <!-- CATEGORIES[0] = "Santé" -->
    <%= link_to '#', class: "card card-task card-health mb-4", data: { aos: "flip-up", bs_toggle: "modal", bs_target: "#exampleModal#{task.id}" } do %>
      <div class="card-content">
        <h3><%= task.name %></h3>
        <p><%= task.description %></p>
      </div>
      <div class="card-checkboxe">
        <% if task.achieved %>
          <%= image_tag "checkboxe-checked.svg" %>
        <% else %>
          <%= image_tag "checkboxe.svg" %>
        <% end %>
      </div>
    <% end %>
  <% elsif task.category == Task::CATEGORIES[1] %>  <!-- CATEGORIES[1] = "Gestion du foyer" -->
    <%= link_to '#', class: "card card-task card-home-duty mb-4", data: { aos: "flip-up", bs_toggle: "modal", bs_target: "#exampleModal#{task.id}" } do %>
      <div class="card-content">
        <h3><%= task.name %></h3>
        <p><%= task.description %></p>
      </div>
      <div class="card-checkboxe">
        <% if task.achieved %>
          <%= image_tag "checkboxe-checked.svg" %>
        <% else %>
          <%= image_tag "checkboxe.svg" %>
        <% end %>
      </div>
    <% end %>
  <% elsif task.category == Task::CATEGORIES[2] %>  <!-- CATEGORIES[2] = "Administratif" -->
    <%= link_to '#', class: "card card-task card-admin mb-4", data: { aos: "flip-up", bs_toggle: "modal", bs_target: "#exampleModal#{task.id}" } do %>
      <div class="card-content">
        <h3><%= task.name %></h3>
        <p><%= task.description %></p>
      </div>
      <div class="card-checkboxe">
        <% if task.achieved %>
          <%= image_tag "checkboxe-checked.svg" %>
        <% else %>
          <%= image_tag "checkboxe.svg" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <!-- Modal pour chaque tâche -->
  <div class="modal fade" id="exampleModal<%= task.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= task.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel<%= task.id %>"><%= task.name %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for task do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :category, collection: Task::CATEGORIES %>
            <%= f.input :reccurence, as: :boolean %>
            <%= f.input :points %>
            <%= f.input :deadline %>
            <%= f.input :achieved %>
            <%= f.input :priority, collection: Task::PRIORITY %>

            <div class="modal-footer">
              <%= link_to 'Supprimer', task_path(task), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-delete" %>
              <%= f.button :submit, 'Enregistrer', class: "btn btn-orange" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
