<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-container">
          <div class="container-header text-center">
            <h1>Nouvelle tâche</h1>
          </div>
          <div class="card form-input">
            <%= simple_form_for @task do |f| %>
              <div class="form-group">
                <%= f.input :name, label: "Nom", input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
              </div>
              <div class="form-group">
                <%= f.input :description, label: "Détails", input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
              </div>

              <%= f.input :category,
                  label: "Catégorie",
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Task::CATEGORIES,
                  label_html: { class: 'form-label' } %>

              <div class="form-group">
                <%= f.input :reccurence, label: "Réccurente", as: :boolean, input_html: { class: 'form-check-input' }, label_html: { class: 'form-check-label' } %>
              </div>
              <div class="form-group">
                <%= f.input :points, label: "Points", input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
              </div>

              <p class="form-label">Qui doit réaliser cette tâche ?</p>
              <div class="d-flex flex-wrap" data-controller="member-selection">
                <% @members.each do |member| %>
                  <div class="form-check">
                    <%= check_box_tag 'task[members][]', member.id, false, id: "member_#{member.id}", class: 'form-check-input', style: 'display:none;', data: { member_selection_target: "checkbox" } %>
                    <div class="member-photo" data-member-selection-target="photo" data-member-id="<%= member.id %>" onclick="document.getElementById('member_<%= member.id %>').click()">
                      <%= image_tag(member.avatar, alt: member.first_name, style: "width:100px; cursor: pointer;") %>
                    </div>
                  </div>
                <% end %>
              </div>
                <%= f.input :deadline,
                            :label => "Deadline",
                            as: :string,
                            input_html: { data: { controller: "datepicker" }, class: 'form-control' },
                            label_html: { class: 'form-label' } %>

             <div class="form-group">
                <%= f.input :priority,
                  label: "Priorité",
                  as: :check_boxes,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'd-flex flex-wrap justify-content-center',
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item  mb-3',
                  collection: Task::PRIORITY,
                  label_html: { class: 'form-label' } %>

              </div>
            <div class="form-actions text-center mt-5 my-4">
                <%= f.submit 'Ajoute la', class: 'btn btn-orange' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
