<%= form_with(model: [@team, @reward]) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :goal %>
    <%= f.text_field :goal %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
