<div class="container text-center">
  <h1>Modifier les Rewards pour l'équipe <span style="color: red;"><%= @team.name %></span></h1>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= simple_form_for [@team, @reward], html: { class: 'form' } do |f| %>
            <div class="form-inputs">
              <h3><%= f.input :name, label: "Nom de la récompense" %></h3>
              <h3><%= f.input :goal, label: "Objectif" %></h3>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, 'Modifier la Reward', class: 'btn btn-yellow' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= link_to 'Retour', team_rewards_path(@team), class: 'btn btn-pink' %>
  </div>
</div>
