<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <div class="container-header text-center">
          <h1>Modifier la récompense</h1>
        </div>
        <div class="card form-input">
          <%= simple_form_for [@team, @reward], html: { class: 'form' } do |f| %>
            <div class="form-inputs mb-5">
              <%= f.input :name, label: "Nom de la récompense" %>
              <%= f.input :goal, label: "Objectif" %>
            </div>

            <div class="form-actions text-center my-4">
              <%= f.button :submit, 'Modifier', class: 'btn btn-orange' %>
              <%= link_to 'Supprimer', team_reward_path(@team, @reward), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-reward' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
