<h1>Index des Récompenses de l'équipe <%= @team.name %></h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Objectif</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.name %></td>
        <td><%= reward.goal %></td>
        <td>
          <%= link_to 'Voir', team_reward_path(@team, reward) %> |
          <%= link_to 'Modifier', edit_team_reward_path(@team, reward) %> |
          <%= link_to 'Supprimer', team_reward_path(@team, reward), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nouvelle Récompense', new_team_reward_path(@team) %>
