<h1>Nouvelle Récompense pour l'équipe <%= @team.name %></h1>

<%= simple_form_for [@team, @reward] do |f| %>
  <%= f.input :name %>
  <%= f.input :goal %>

  <%= f.button :submit, 'Créer Récompense' %>
<% end %>

<%= link_to 'Retour', team_rewards_path(@team) %>
