<div class="container">
  <div class="welcome">
    <h1>Comment va, <%= current_user.pseudo %> ?</h1>
  </div>
  <div class="dashboard-progression mb-5" >
    <div class="card card-octopus">
      <div class="card-octopus__image d-flex justify-content-center">
        <div class="progress-container">
          <div class="skill">
            <div class="outer">
              <div class="inner">
                <div id="number" data-controller="progress" data-progress-score-value="<%= @team.score %>" data-progress-goal-value="<%= @reward&.goal || 0 %>">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="200px">
                    <defs>
                      <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#DA22FF"/>
                        <stop offset="100%" stop-color="#9733EE"/>
                      </linearGradient>
                    </defs>
                    <circle cx="100" cy="100" r="90" stroke-linecap="round" data-progress-target="circle"/>
                    <%= image_tag("happy-octopus.png", width: 120, class: "octopus-image") %>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progression-content" >
        <div>
          <h3><%= @team.score %></h3>
        </div>
        <div class="d-flex flex-column justify-content-center" >
          <% if !@reward.nil? && @reward.selected == true %>
            <% if @team.score < @reward.goal %>
              <p >Il reste <strong ><%= @remaining_points %></strong> points à <strong><%= @team.name %></strong> pour remporter : <strong><%= @reward.name %></strong></p>
            <% end %>
          <% else %>
            <p>Séléctionne une récompense pour jouer !</p>
            <p><i class="fa-solid fa-trophy" style="color: black;"></i> <%= link_to "Les récompenses", team_rewards_path(@team), class: "link" %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="cards-progression">
      <div class="card card-achieved-tasks">
        <h3><%= @tasks_completed %></h3>
        <p>Mes tâches réalisées</p>
      </div>
      <div class="card card-pending-tasks">
        <h3><%= @tasks_remaining %></h3>
        <p>Mes tâches en cours</p>
      </div>
    </div>
  </div>

  <div class="mb-5" data-controller="tasks">
    <h1 class="mb-3">Mes tâches à venir</h1>

    <%= simple_form_for :filter, url: tasks_path, method: :get, html: { data: { controller: "tasks" } } do |f| %>
    <div class="calendar mb-4">
      <% (Date.today - 2..Date.today + 2).each do |date| %>
        <div class="tag-item">
          <%= f.radio_button :date, date, id: "date_#{date}", class: "tag-selector visually-hidden", data: { action: "tasks#filterTasks", tasks_target: "date" }, checked: date == Date.today %>
          <%= f.label :date, for: "date_#{date}", class: "tag-date text-center" do %>
            <%= content_tag :span, date.strftime('%a'), class: "d-block text-center" %>
            <%= content_tag :span, date.strftime('%e'), class: "d-block text-center tag-day" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= f.submit "Filter Tasks", class: "btn btn-primary", style: "display:none;" %>
    <% end %>

    <div id="tasks-list">
      <%= render partial: "tasks/tasks_list", locals: { tasks: @tasks }, layout: false %>
    </div>
  </div>

  <h1 class="mb-3">Mes listes</h1>

    <div id="carouselExampleControls" class="carousel slide mb-5" data-interval="false" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @lists.each do |list| %>
      <div class="carousel-item active">
         <div data-controller="list-update">
            <%= render "lists/list_updated", list: list %>
          </div>
      </div>
      <% end %>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
