  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag ("logo-deep-purple.svg") %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%= image_tag ("burger-menu.svg") %>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if (current_user) %>
          <ul class="navbar-nav me-auto menu-main">
            <li class="nav-item">
              <%= link_to "Ma tcheam", team_path(current_user.team), class:"nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Faire tourner la roue</a>
            </li>
            <li class="nav-item">
              <%= link_to "+ Tâche", new_task_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "+ Liste", new_user_list_path(current_user), class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "+ Récompense", new_team_reward_path(current_user.team), class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Nos souvenirs", memories_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Le challenge des minots</a>
            </li>
          </ul>

            <ul class="navbar-nav me-auto menu-profile">
              <li class="nav-item dropdown">
                <%= image_tag current_user.avatar, class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to 'Profile', edit_user_registration_path, class:"dropdown-item"  %>
                  <%= link_to 'Deconnexion', destroy_user_session_path, data: { turbo_method: :delete }, class:"dropdown-item" %>
                </div>
              </li>
              <!--li class="nav-item"-->
              <!--/li-->
          </ul>
        <% end %>
      </div>
    </div>
  </div>
