<!DOCTYPE html>
<html>
  <head>
    <title>MyTcheam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag ("logo-deep-purple.svg") %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%= image_tag ("burger-menu.svg") %>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Ma team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Faire tourner la roue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+ Tâche</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+ Liste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+ Récompense</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nos souvenirs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Le challenge des minots</a>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "avatar-poulpe.jpg", class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
              </div>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>
  </div>


    <%= yield %>


    <div class="footer">

      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>

      <div>
        <p>© 2024 La Team. Tous droits réservés.</p>
      </div>
    </div>

  </body>


</html>
